<script lang="ts">
  import {
    lastFetchedDate,
    colors,
    entries,
    filtered,
    simple
  } from '../store'
  import {stripHTML, updateColors} from '../utils'
  import {onMount} from 'svelte'
  import {errors, streamState} from '../store'
  import stream from './stream'

  export let port: string = import.meta.env.VITE_PORT as string
  const prefix = port ? `http://localhost:${port}` : ''
  let search = ''
  let refreshing = false
  let searching = false

  /** asks server to update; server does and returns updated feed */
  async function refresh() {
    refreshing = true
    await stream(port)

    updateColors($entries, $colors)

    localStorage.setItem(
      'entries',
      JSON.stringify($entries.slice(0, 100))
    )

    lastFetchedDate.set(new Date())
    localStorage.setItem(
      'lastFetchedDate',
      $lastFetchedDate.toString()
    )

    filterEntries(search)
    refreshing = false
  }

  let searchTimer: NodeJS.Timer
  /** given a user input, filters for appearances fo the phrase in
   * posts */
  async function filterEntries(query: string) {
    if (!query || !$entries.length) {
      filtered.set($entries)
      return
    }
    searching = true

    clearTimeout(searchTimer)
    searchTimer = setTimeout(() => {
      const filteredPosts = $entries.filter((entry) => {
        const concat = [
          entry.title,
          entry.link,
          stripHTML(entry.description),
          entry.author,
          entry.meta.description,
          entry.meta.title
        ].join(' ')
        return concat.match(query)
      })

      filtered.set(filteredPosts)
      searching = false
    }, 400)
  }

  let isEditingSources = false
  let sources = ''

  onMount(async () => {
    sources = await fetch(prefix + '/sources').then((res) =>
      res.text()
    )
  })

  /** users can update the sources they fetch from ... */
  async function updateSources() {
    await fetch(prefix + '/sources', {
      method: 'POST',
      body: sources
    })
  }

  $: filterEntries(search)
  $: $entries && filterEntries(search)
</script>

<div class="container">
  <button on:click={refresh}>refresh</button>
  <input bind:value={search} placeholder="Search..." />
  <button on:click={() => simple.update((old) => !old)}>
    {$simple ? 'expand' : 'condense'}
  </button>
  <button
    on:click={() => {
      isEditingSources = true
    }}
  >
    edit sources
  </button>
</div>
<p><em>Last fetched: </em>{$lastFetchedDate.toLocaleString()}</p>
{#if refreshing}
  <p class="msg">
    Fetching updated RSS feeds:
    {$streamState.progress}/{$streamState.total}
  </p>
{/if}
{#if $errors.length >= 1}
  <p class="msg">
    Oh no! Ran into <strong>{$errors[0]}</strong> and {$errors.length -
      1} more errors.
  </p>
{/if}
{#if searching}
  <p class="msg">Searching...</p>
{/if}
{#if isEditingSources}
  <textarea rows={10} cols={50} bind:value={sources} />
  <button on:click={updateSources}> update sources </button>
{/if}

<style>
  .container {
    padding: 1rem;
    margin: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .msg {
    margin: 0.5rem;
  }

  button,
  textarea {
    font-family: Lato;
    font-size: 12pt;
    padding: 0.3rem 1rem;
    background: none;
    border: solid 1px black;
    border-radius: 0.2rem;
    box-shadow: 0.1rem 0.1rem;
    cursor: pointer;
    transition: background ease-in-out 200ms;
  }

  textarea {
    margin: 1rem;
    padding: 0.5rem;
  }

  button:hover {
    background: lightblue;
  }

  input {
    font-size: 12pt;
  }
</style>
