<script lang="ts">
  import {colors, simple} from '../store'
  import {makeLinks, stripHTML} from '../utils'
  import type {Color, Entry} from '../types'

  export let entry: Entry

  let container: HTMLElement
  let style = 'background: #ffb7b7;'

  let clicked = false

  const getColor = () =>
    $colors.find((scheme: Color) => scheme.source === meta?.title)
      ?.color

  $: ({author, description, link, pub_date, title, meta} = entry)
  $: if (meta) {
    style = `background: ${getColor()};`
  }
  $: parsed = makeLinks(stripHTML(description))
</script>

<div
  class="container {$simple ? 'condensed' : ''}"
  bind:this={container}
  on:click={() => {
    clicked = !clicked
  }}
  on:mouseenter={() => {
    style = 'background: #ffb7b7;'
  }}
  on:mouseleave={() => {
    style = `background: ${getColor()}`
  }}
  {style}
>
  <span class="header">
    <a href={link} target="_blank">
      <h2 class="title" style={$simple && 'font-size: 1rem;'}>
        {title}
      </h2>
    </a>
    {#if author && !$simple}
      <span>{typeof author == 'string' ? author : author?.name}</span>
    {/if}
    {#if $simple}
      <a class="source" href={meta?.link} target="_blank"
        >{meta?.title}</a
      >
    {/if}
  </span>
  {#if !$simple}
    <p class="subheader">
      <span>
        From <a class="source" href={meta?.link} target="_blank"
          >{meta?.title}</a
        >
      </span>
      <span>{new Date(pub_date).toLocaleDateString()}</span>
    </p>
    {#if clicked}
      <p class="preview">{@html parsed}</p>
    {/if}
  {/if}
</div>

<style>
  .container {
    width: 100%;
    border: solid 1px black;
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    cursor: pointer;
    transition: background ease-in-out 300ms;
  }

  .condensed {
    margin: 0;
    padding: 0 1rem;
    box-shadow: unset;
    border-radius: unset;
  }

  .container:hover {
    background: lightred !important;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.5rem 0;
  }

  .header span {
    margin: 0.5rem 0;
  }

  .title {
    margin: 0;
    font-size: 1.3rem;
  }

  .subheader {
    display: flex;
    justify-content: space-between;
    margin-block-start: 0;
  }

  .preview {
    max-height: 20ch;
    overflow: hidden;
  }

  a {
    color: black;
    transition: color ease-in-out 0.3s;
  }

  a:hover {
    color: blue;
  }

  .source {
    font-weight: bold;
    font-style: italic;
  }

  .preview :global(img) {
    width: 100%;
  }

  .preview :global(p) {
    margin-block: 0.5rem;
  }
</style>
