<script lang="ts">
  import {onMount} from 'svelte'
  import Post from './lib/Post.svelte'
  import Controls from './lib/Controls.svelte'
  import {entries, filtered, colors} from './store'
  import {
    feedToEntries,
    sortEntries,
    updateColors
  } from './utils'
  import type {Feed} from '../types'

  export let port: string = import.meta.env.VITE_PORT as string

  let itemCount = 10
  let trailer: HTMLElement

  onMount(async () => {
    const io = new IntersectionObserver(
      (elements) => {
        if (!elements[0].intersectionRatio) return
        itemCount = Math.min(
          (itemCount += 3),
          Math.max($entries.length, 20)
        )
      },
      {root: null, threshold: 0.8}
    )
    io.observe(trailer)

    /** initial fetch, if localStorage didn't have anything */
    if (!$entries.length) {
      const prefix = port ? `http://localhost:${port}` : ''
      const fetched = await fetch(`${prefix}/feed`)
        .then((res) => res.json())
        .then((fetches: {feed: Feed}[]) =>
          sortEntries(
            fetches
              .filter((f) => f.feed)
              .map((f) => f.feed)
              .flatMap(feedToEntries)
          )
        )
        .catch(console.error)
      if (!fetched?.length) return

      entries.set(fetched)
      localStorage.setItem(
        'entries',
        JSON.stringify(fetched.slice(0, 100))
      )
    }

    updateColors($entries, $colors)
    filtered.set($entries)

    return () => io.unobserve(trailer)
  })
</script>

<main>
  <Controls {port} />
  {#each $filtered.slice(0, itemCount) as entry}
    <Post {entry} />
  {/each}
  <div
    class="trailer"
    style={$entries.length <= itemCount ? 'height: 0;' : ''}
    bind:this={trailer}
  />
</main>

<style global>
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

  :root {
    font-family: Lato, sans-serif;
    font-size: 12pt;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  #app {
    display: flex;
    place-content: center;
  }

  main {
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 70ch;
  }

  .trailer {
    width: 100%;
    height: 15vh;
  }
</style>
